//HOMEPAGE SCSS

/*
    =========
    MAIN
    =========
*/

.wrapper {
    @include container-fluid;
}

.intro {

    background-color: $secondary-bg;
    min-height: 100vh;

    :first-child {
        padding-top: 30px;
    }

    &__heading-first {
        font-size: $h1;
        
    }

    &__heading-second {
        font-size: $h2;
    }
}
